##############################################################################
#  
#    Copyright (C) 2005 - 2010 by Vivante Corp.
#  
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the license, or
#    (at your option) any later version.
#  
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#    GNU General Public Lisence for more details.
#  
#    You should have received a copy of the GNU General Public License
#    along with this program; if not write to the Free Software
#    Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#  
##############################################################################


################################################################################
# Define a shortcut for the main target.
#SO_SUFFIX = .1
SO_SUFFIX =
TARGET_OUTPUT = $(OBJ_DIR)/$(TARGET_NAME)

################################################################################
# Specify targets.

all: $(TARGET_OUTPUT)

clean:
	@rm -f $(PREREQUISITES)
	@rm -rf $(OBJ_DIR)/* $(OBJ_DIR)
	@rm -rf $(CLEAN_EXTRA)

install: $(TARGET_OUTPUT)
ifneq ($(INSTALL_DIR),)
	@mkdir -p $(INSTALL_DIR)
	@-cp $(TARGET_OUTPUT) $(INSTALL_DIR)
endif

ifeq ($(COMMON_LITE), 1)
    PREREQUISITES	:= .Prerequisites_cl
else
    PREREQUISITES	:= .Prerequisites
endif

ifeq ($(DEBUG), 1)
    PREREQUISITES	:= $(PREREQUISITES)_d
else
    PREREQUISITES	:= $(PREREQUISITES)_r
endif

MAKEFILE_NAME	= makefile.linux

ifeq ($(STATIC_LINK),1)
ifneq ($(USE_ARMCC), 1)
  PFLAGS += -static
else
  PFLAGS += -L--no_search_dynamic_libraries
endif
endif

ifeq ($(PROGRAM), 1)
$(TARGET_OUTPUT): $(PREREQUISITES) $(OBJECTS)
ifeq ($(SRC_CXX),)
	$(CC) $(PFLAGS) $(OBJECTS) $(LIBS) -o $(TARGET_OUTPUT)
else
	$(CXX) $(PFLAGS) $(OBJECTS) $(LIBS) -o $(TARGET_OUTPUT)
endif

ifneq ($(USE_ARMCC), 1)
ifneq ($(DEBUG), 1)
	$(STRIP) $(TARGET_OUTPUT)
endif
endif
endif

ifeq ($(DYNAMIC), 1)
ifeq ($(USE_ARMCC), 1)
LFLAGS += --shared -L--soname=,$(TARGET_NAME)$(SO_SUFFIX)
else
LFLAGS += --shared -L--soname=,$(TARGET_NAME)
endif
else
ifeq ($(CONFIG_DOVE_GPU), 1)
LFLAGS += -Wall -shared -Wl,-soname,$(TARGET_NAME)$(SO_SUFFIX)
else
LFLAGS += -Wall -shared -Wl,-soname,$(TARGET_NAME)
endif
endif
$(TARGET_OUTPUT): $(PREREQUISITES) $(OBJECTS)
	$(CC) $(LFLAGS) $(OBJECTS) $(LIBS) -o $(TARGET_OUTPUT)
endif

ifeq ($(STATIC), 1)
$(TARGET_OUTPUT): $(PREREQUISITES) $(OBJECTS)
	$(AR) -r $(TARGET_OUTPUT) $(OBJECTS)
ifneq ($(USE_ARMCC), 1)
	$(RANLIB) $(TARGET_OUTPUT)
endif
endif

$(PREREQUISITES): $(MAKEFILE_NAME)
	@-mkdir -p $(OBJ_DIR)
	@-touch $(PREREQUISITES)

$(OBJ_DIR)/%.o: %.c $(PREREQUISITES)
	@mkdir -p $(OBJ_DIR)
	$(CC) -c $(CFLAGS) -o $@ $<

$(OBJ_DIR)/%.o: %.cpp $(PREREQUISITES)
	@mkdir -p $(OBJ_DIR)
	$(CXX) -c $(CFLAGS) -o $@ $<
