if GPU_VIVANTE_V2

menu "Vivante Options"

config GPU_VIVANTE_ANDROID
	bool
	default y if ANDROID
	default n

config GPU_VIVANTE_DEBUG
	boolean "Enable debug output"

config GPU_VIVANTE_PROFILER
	boolean "Enable profiler"

config GPU_VIVANTE_NEWSIGNAL
	boolean "Use new linux signal"

endmenu

endif
